@tailwind base;
@tailwind components;
@tailwind utilities;


.main-header__container {
    position: relative;
    width: 450px;
    height: 550px;
    border-radius: 30px;
    background: #2f363e;
    padding: 30px 50px;
    box-shadow:  
        25px 25px 75px rgba(0,0,0,0.25),
        10px 10px 70px rgba(0,0,0,0.25),
        inset 5px 5px 10px rgba(0,0,0,0.5),
        inset 5px 5px 20px rgba(255,255,255,0.2),
        inset -5px -5px 15px rgba(0,0,0,0.75); 
        /* Когда inset применяется к box-shadow, тень рисуется 
        внутри элемента, а не снаружи него. Это может быть 
        полезно для создания эффектов вроде "выгнутых" или "вогнутых" панелей, 
        кнопок и других элементов интерфейса. */
}

.main-header__input {
    box-shadow:  
      25px 25px 75px rgba(0,0,0,0.25),
      10px 10px 70px rgba(0,0,0,0.25),
      inset 5px 5px 10px rgba(0,0,0,0.5),
      inset 5px 5px 20px rgba(255,255,255,0.2),
      inset -5px -5px 15px rgba(0,0,0,0.75); 
  }
  
  .main-header__container li {
    width: calc(100% - 50px);
    position: relative;
    display: flex;
    align-items: center;
    background: #1d6dc9;
    margin: 15px 0;
    padding: 10px ;
    color: aliceblue;
    cursor: pointer;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
  }
  
  .main-header__container li .icon {
    position: absolute;
    width: 40px;
    height: 40px;
    background: #b93434;
    border-radius: 50%;
    left: calc(105% + 10px); 
    transform: translate(-40%, 0%);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .main-header__container li .icon::before,
  .main-header__container li .icon::after {
    content: "";
    position: absolute;
    width: 70%;
    height: 3px;
    background-color: #fff; 
  }
  
  .main-header__container li .icon::before {
    transform: rotate(45deg);
  }
  
  .main-header__container li .icon::after {
    transform: rotate(-45deg);
  }
  